.characters-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 125px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin: auto;
}
